@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --pink: #ff696e;
  --pink-bold: #f74046;
  --text-dark: #203040;
  --background: #fff;
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body,
input,
select,
button,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

ul,
li {
  list-style: none;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--pink);
}

header {
  grid-area: header;
  background-color: var(--text-dark);
  color: var(--pink);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

.logo{
  margin-top: -2rem;
  height: 3rem;
}

main {
  grid-area: main;
}

/* footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}

/* Site Title */
.site-title img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.site-title__intro {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #ffffff;
}

.site-title__intro button {
  border-radius: 2rem;
  padding: 1rem 2rem;
}

.site-title__intro h1 {
  font-size: 50px;
}

.site-title:hover img {
  background: rgba(0, 0, 0, 0.5);
}
.site-title:hover .site-title__intro  {
  opacity: 1;
}


.right-arrow {
  position: absolute;
  top: 40%;
  right: 32px;
  font-size: 3rem;
  color: var(--pink);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 40%;
  left: 32px;
  font-size: 3rem;
  color: var(--pink);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  /* transform: scale(0.08); */
}

/* products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li {
  flex: 0 1 29rem;
  padding: 1rem;
  
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
}

.product img {
  max-width: 100%;
  /* text-align: center; */
}

.product>a {
  color: var(--text-dark);
}


.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 37rem;
}

.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}

.product-price div {
  font-size: 2rem;
}

.button {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}

.button:hover {
  border: 0.1rem var(--pink-bold) solid;
}

.button.primary {
  background-color: var(--pink);
  color: #ffffff;
}

.button.secondary {
  background-color: #c2c2c2;
  text-align: center;
  color: #ffffff;
}

/* Filter */
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
  font-weight: bold;
}

.filter div {
  flex: 1;
}

/* Index.css */
.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
  font-weight: bold;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 5rem;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: 0.5rem;
}

.cart-items li div:last-child {
  flex: 1;
}

.right {
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.total>div {
  font-size: 2rem;
}

.total>div,
.total>button {
  flex: 1;
}

/* Checkout form */
form {
  width: 100%;
}

.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
}

/* Product Details */
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}

.product-details img {
  max-height: 80vh;
  max-width: 46rem;
  margin: 0 auto;
}

.product-details-description {
  flex: 1 1;
  margin: 1rem;
}

.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}

/* Order Details */

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-details li div {
  padding: 10px;
}

.order-details .items {
  text-align: right;
  padding: 0;
}

.success-message {
  color: green;
}

/* Orders */
.orders {
  width: 100%;
  padding: 10px;
}

tbody>tr:nth-child(odd) {
  background-color: #f8eeee;
  ;
}

td {
  padding: 10px;
}

th {
  text-align: center;
}

/* Sign in */
.form-signin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.form-container-signin {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: .1rem #f0f0f0 solid;
  border-radius: .5rem;
  list-style-type: none;
  margin: 0 auto;
}

.form-container-signin li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form-container-signin>input {
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
}

.paypal-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 2rem 1rem;
  z-index: 1;
  background-color: var(--text-dark);
  margin: 0;
  border-radius: 0.5rem;
}

.dropdown-content li {
  margin: 1rem auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Search */

.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}

.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}

.active {
  font-weight: bold;
}

/* Cart menu */
.cart-menu {
  margin: auto 2rem;
}

/* footer */
footer.footer{
  height: 100%;
  background: var(--text-dark);
  position: relative;
}

footer.footer .container{
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  background: var(--text-dark);
  justify-content: space-between;
}

footer.footer .container > div{
  flex-grow: 1;
  flex-basis: 0;
  padding: 2rem 5rem;
}

footer.footer .container h2{
  color: #ffffff;
}

footer.footer .newsletter .form-element{
  background: black;
  display: inline-block;
}

footer.footer .newsletter .form-element input{
  padding: .5rem .7rem;
  border: none;
  background: transparent;
  color: #ffffff;
  font-size: 1rem;
  width: 74%;
}

footer.footer .newsletter .form-element span{
  background: var(--sky);
  padding: .5rem .7rem;
  cursor: pointer;
}

footer.footer .instagram div > img{
  display: inline-block;
  width: 25%;
  height: 50%;
  margin: .3rem .4rem;
}

footer.footer .follow div i{
  color: white;
  padding: 0 .4rem;
}

footer.footer .rights{
  background: var(--text-dark);
  justify-content: center;
  margin: 0 0;
}

footer.footer .rights h4 {
  color: #bbbbbb;
}

footer.footer .move-up{
  position: absolute;
  right: 6%;
  top: 50%;
}

footer.footer p {
  color: #bbbbbb
}

footer.footer .move-up span{
  color: var(--sky);
}

footer.footer .move-up span:hover{
  color: var(--sky);
  cursor: pointer;
}

footer.footer .icon a{
  color: #ffffff;
  padding: 0 0.5rem;
}
footer.footer .icon a:hover{
  color: var(--pink-bold);
}

footer.footer .move-up {
  color: var(--pink);

}

.flex-row{
  display: flex;
  flex-direction: row;    
  flex-wrap: wrap;
}

/* Pagination */
.pagination {
  justify-content: center;
  display: flex;
  padding-bottom: 5rem;
}

.page-item {
  margin: 0 0.1rem;
}

.page-item button {
  border: 0;
  background:transparent;
}
.page-item button:focus{
  outline:none;
}
.current button{
  color:var(--pink);
  border-bottom: 1px solid black;
}

.page-item button:hover{
  background: rgb(187, 187, 187);
}